body { 
    background-color: aquamarine;
    font-family: "Roboto", sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

/*Centering the title text and adding animat.css (which needs a duration )*/
.Head-Title, .Ticker-Section {
    text-align: center;
    animation: fadeInDown;
    animation-duration: 3s;
}



img {
    border: 15px black;
width: 300px
}
nav {
    overflow: hidden;
    background-color: black;
}
nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 15px;

}
nav a:hover {
    background-color: aliceblue;
    color: black;
}
.ticker {
    text-decoration: none;
}
.ticker:hover {
    text-decoration: underline;
    color: blue !important;
    cursor: pointer;
}